In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',100)

In [2]:
# Load data 
fpath =  "Data/ames-housing-dojo-for-ml.csv"
df = pd.read_csv(fpath)
df = df.set_index("PID")
# Define columns to use
columns_to_use = columns_to_use = ['SalePrice', 'Living Area Sqft', 'Lot Frontage', 'Bldg Type', 'Bedroom','Total Full Baths','MS Zoning','Street', 'Alley','Utilities']
df = df[columns_to_use]
df.head()

,SalePrice,Living Area Sqft,Lot Frontage,Bldg Type,Bedroom,Total Full Baths,MS Zoning,Street,Alley,Utilities
PID,,,,,,,,,,
907227090,119900.0,864.0,60.0,1Fam,3,1.0,RL,Pave,NaN,AllPub
527108010,320000.0,2462.0,134.0,1Fam,4,3.0,RL,Pave,NaN,AllPub
534275170,151500.0,958.0,NaN,1Fam,2,1.0,RL,Pave,NaN,AllPub
528104050,385000.0,2084.0,114.0,1Fam,2,3.0,RL,Pave,NaN,AllPub
533206070,193800.0,1565.0,32.0,TwnhsE,2,3.0,FV,Pave,Pave,AllPub

In [3]:
# Select columns to use
columns_to_use = ['SalePrice', 'Living Area Sqft', 'Lot Frontage', 'Bldg Type', 'Bedroom',
                      'Total Full Baths','MS Zoning','Street', 
                      'Alley','Utilities']
# Functionizing the load data from above for .py file
def load_data():
    fpath =  "Data/ames-housing-dojo-for-ml.csv"
    df = pd.read_csv(fpath)
    df = df.set_index("PID")
    df = df[columns_to_use]
    return df

In [4]:
# Verify the function works as expected
df = load_data()
df.head()

,SalePrice,Living Area Sqft,Lot Frontage,Bldg Type,Bedroom,Total Full Baths,MS Zoning,Street,Alley,Utilities
PID,,,,,,,,,,
907227090,119900.0,864.0,60.0,1Fam,3,1.0,RL,Pave,NaN,AllPub
527108010,320000.0,2462.0,134.0,1Fam,4,3.0,RL,Pave,NaN,AllPub
534275170,151500.0,958.0,NaN,1Fam,2,1.0,RL,Pave,NaN,AllPub
528104050,385000.0,2084.0,114.0,1Fam,2,3.0,RL,Pave,NaN,AllPub
533206070,193800.0,1565.0,32.0,TwnhsE,2,3.0,FV,Pave,Pave,AllPub

In [5]:
# Obtain summary statistics
df.describe().round(2)

       SalePrice  Living Area Sqft  Lot Frontage  Bedroom  Total Full Baths
count    2930.00           2930.00       2440.00  2930.00           2928.00
mean   180825.07           1499.69         69.22     2.85              2.00
std     79878.22            505.51         23.37     0.83              0.75
min     12789.00            334.00         21.00     0.00              0.00
25%    129500.00           1126.00         58.00     2.00              1.00
50%    160000.00           1442.00         68.00     3.00              2.00
75%    213500.00           1742.75         80.00     3.00              2.00
max    755000.00           5642.00        313.00     8.00              6.00

In [6]:
# In our notebook we can use df.info() to output our summary info into our console (direclty below the cell)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 907227090 to 902201120
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SalePrice         2930 non-null   float64
 1   Living Area Sqft  2930 non-null   float64
 2   Lot Frontage      2440 non-null   float64
 3   Bldg Type         2930 non-null   object
 4   Bedroom           2930 non-null   int64
 5   Total Full Baths  2928 non-null   float64
 6   MS Zoning         2930 non-null   object
 7   Street            2930 non-null   object
 8   Alley             198 non-null    object
 9   Utilities         2930 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 251.8+ KB

In [8]:
# Display .info()
# In order to display output on our app, we first need to capture it. 
# We can use an IO buffer to capture the output, then we will use the getvalue() argument to retrive it
from io import StringIO
# Create a string buffer to capture the content
buffer = StringIO()
# Write the info into the buffer
df.info(buf=buffer)
# Retrieve the content from the buffer
summary_info = buffer.getvalue()
# What the output looks like in the console
summary_info

"<class 'pandas.core.frame.DataFrame'>\nInt64Index: 2930 entries, 907227090 to 902201120\nData columns (total 10 columns):\n #   Column            Non-Null Count  Dtype  \n---  ------            --------------  -----  \n 0   SalePrice         2930 non-null   float64\n 1   Living Area Sqft  2930 non-null   float64\n 2   Lot Frontage      2440 non-null   float64\n 3   Bldg Type         2930 non-null   object \n 4   Bedroom           2930 non-null   int64  \n 5   Total Full Baths  2928 non-null   float64\n 6   MS Zoning         2930 non-null   object \n 7   Street            2930 non-null   object \n 8   Alley             198 non-null    object \n 9   Utilities         2930 non-null   object \ndtypes: float64(4), int64(1), object(5)\nmemory usage: 251.8+ KB\n"

In [9]:
# Displaying null values
nulls =df.isna().sum()
nulls

SalePrice              0
Living Area Sqft       0
Lot Frontage         490
Bldg Type              0
Bedroom                0
Total Full Baths       2
MS Zoning              0
Street                 0
Alley               2732
Utilities              0
dtype: int64

In [10]:
# Check data type
type(nulls)

pandas.core.series.Series