<table style="background-color: rgb(13,32,76); border-radius: 10px">
	<thead>
		<tr>
			<th colspan="2" style="border: hidden; vertical-align: top;" width="15%"><img src="https://assets.codingdojo.com/boomyeah2015/codingdojo/curriculum/content/chapter/1674755226__Icons_400px_Practice Assignment.png">
			</th>
			<th style="border: hidden;">
				<h1 style="color: white;">Working with Regex (Practice)</h1>
			</th>
		</tr>
	</thead>
</table>
<p>This practice assignment will reinforce important learning objectives from the previous lesson(s), and allow you to take on more challenging core assignments, preparing you for graduation.<br></p>
<p>Practice and tinker with this assignment until you're comfortable performing each of the tasks. Then, be sure to submit your output as described in the steps below.</p>
<hr>
<h2><span style="background-color: initial; font-family: Gotham-Rounded-Bold; font-size: 24px;">Working with Regex (Practice)</span></h2>
<p><br></p>
<p>We will use this poorly formatted information <a href="https://docs.google.com/spreadsheets/d/1AmLUolrM4mpgsulCkC3caNKP6G9BIM08ZL6B6IpfM7U/edit?usp=sharing" target="_blank">file</a> to practice string and regex techniques.</p>
<p>Our ultimate goal will be to use the provided information to create a properly formatted dataframe with a separate column for</p><ul><li>phone number </li><li>state</li><li>city</li><li>url</li></ul><p>1) Define the regex pattern</p><p>2) Create a new column with the pattern by extracting it with str.extract(). </p><p><br></p><p>A template for this process is shown below. Be sure to put the regex pattern in ().</p><pre class="rainbow" data-language="python"># Template for extracting and creating a new column with a regex pattern
# ---is the pattern
pattern = '(---)'
df['new_column'] = df['old_column'].str.extract(pattern)
df
</pre><p><br></p><p>Starter Notebook</p><p><br></p><p>Solution</p><p><br></p>
<p><br></p>

In [1]:
import pandas as pd
pd.options.display.max_colwidth = 300

In [2]:
# load in data
df = pd.read_csv('Data/String_Cleaning.csv', header = None)
df.head()

,0,1
0,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/"
1,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981"
2,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com"
3,David Williams,"https://www.linked-in.com/in/dwilliamsfake 765-143-9900 Denver, CO"
4,Amena Khan,"Atlanta, GA, https://amenakanedesigsolutionsfake.com (521)8760988"

# Phone number
- In our data, all phone numbers include an area code,
- It may or may not have () around the area code
- After 3, 3, and 4 digits, may be separated by - or .
- **Hint: the ? means the preceding pattern is optional (may or may not be present)**

In [3]:
# Extract phone number
# add pattern for phone numbers between ()
phone = '()'
df['phone_number']= df[1].str.extract(phone)
df

,0,1,phone_number
0,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/",543.216.8987
1,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981",(165)555-5981
2,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com",9079870987
3,David Williams,"https://www.linked-in.com/in/dwilliamsfake 765-143-9900 Denver, CO",765-143-9900
4,Amena Khan,"Atlanta, GA, https://amenakanedesigsolutionsfake.com (521)8760988",(521)8760988
5,Mary Brown,"876-999-3465 Boise, ID, https://marybrowndesignfake.com/",876-999-3465
6,Lakshmi Patel,"http://lpatelfake.net 789.4365952 Topeka, KS",789.4365952
7,Anna Garcia,"431-000-9999 Atlanta, GA, https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html",431-000-9999

# State
- All state values in our data are 2 capital letters

In [4]:
# Extract State
# add pattern for state between ()
state = '()'
df['state']= df[1].str.extract(state)
df

,0,1,phone_number,state
0,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/",543.216.8987,CA
1,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981",(165)555-5981,AZ
2,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com",9079870987,AR
3,David Williams,"https://www.linked-in.com/in/dwilliamsfake 765-143-9900 Denver, CO",765-143-9900,CO
4,Amena Khan,"Atlanta, GA, https://amenakanedesigsolutionsfake.com (521)8760988",(521)8760988,GA
5,Mary Brown,"876-999-3465 Boise, ID, https://marybrowndesignfake.com/",876-999-3465,ID
6,Lakshmi Patel,"http://lpatelfake.net 789.4365952 Topeka, KS",789.4365952,KS
7,Anna Garcia,"431-000-9999 Atlanta, GA, https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html",431-000-9999,GA

# City
- all start with a capital letter
- May have a space space
- *Hint \s is a white space*

In [5]:
# City names
# add pattern for city between ()
city = '()'
df['city'] = df[1].str.extract(city)
df

,0,1,phone_number,state,city
0,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/",543.216.8987,CA,Oakland
1,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981",(165)555-5981,AZ,Phoenix
2,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com",9079870987,AR,Little Rock
3,David Williams,"https://www.linked-in.com/in/dwilliamsfake 765-143-9900 Denver, CO",765-143-9900,CO,Denver
4,Amena Khan,"Atlanta, GA, https://amenakanedesigsolutionsfake.com (521)8760988",(521)8760988,GA,Atlanta
5,Mary Brown,"876-999-3465 Boise, ID, https://marybrowndesignfake.com/",876-999-3465,ID,Boise
6,Lakshmi Patel,"http://lpatelfake.net 789.4365952 Topeka, KS",789.4365952,KS,Topeka
7,Anna Garcia,"431-000-9999 Atlanta, GA, https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html",431-000-9999,GA,Atlanta

# URL
- all start with http or https
- followed by ://
- followed by any number of characters (no spaces)
- **Hint: \S is any non-space character**

In [6]:
# URL
# add pattern for url between ()
url = '()'
df['url'] = df[1].str.extract(url)
df

,0,1,phone_number,state,city,url
0,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/",543.216.8987,CA,Oakland,https://johnsmithphotographyfake.net/
1,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981",(165)555-5981,AZ,Phoenix,https://www.barbara-lopezfake.com/
2,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com",9079870987,AR,Little Rock,http://janedoefake.com
3,David Williams,"https://www.linked-in.com/in/dwilliamsfake 765-143-9900 Denver, CO",765-143-9900,CO,Denver,https://www.linked-in.com/in/dwilliamsfake
4,Amena Khan,"Atlanta, GA, https://amenakanedesigsolutionsfake.com (521)8760988",(521)8760988,GA,Atlanta,https://amenakanedesigsolutionsfake.com
5,Mary Brown,"876-999-3465 Boise, ID, https://marybrowndesignfake.com/",876-999-3465,ID,Boise,https://marybrowndesignfake.com/
6,Lakshmi Patel,"http://lpatelfake.net 789.4365952 Topeka, KS",789.4365952,KS,Topeka,http://lpatelfake.net
7,Anna Garcia,"431-000-9999 Atlanta, GA, https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html",431-000-9999,GA,Atlanta,https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html